{% extends 'base.html' %}
{% block title %} Главная {% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="container-mt-5">
            {% if tests %}
                <h3>Тесты</h3>
                {% for test in tests %}
                    <ol>
                        <li>
                            {{ test.title }} | <small><a
                                href="{% url 'ready_to_test' test.pk %}">Решить</a></small>
                        </li>
                    </ol>
                {% endfor %}
            {% else %}
                <h3 style="text-align: center"><b>Пока что нету тестов, вы хотите добавить <a
                        href="{% url 'new_test' %}"
                        style="text-decoration: none">тест</a>?
                </b></h3>
            {% endif %}
        </div>
    </div>
{% endblock %}